$version: 1;
/*
    Version: #{version}
    Author: thecalicoder
    Github: github.com/thecalicoder
    Year: 2019
    Project: Web Starter Kit
*/
// BASE
@import "./globals";
@import "./functions";
@import "./mixins";
@import "./reset";
@import "./utils";
@import "./typography";

// LAYOUT
@import "./layout";

// COMPONENTS
@import "./navbar";

// PAGES
@import "./page";

// THEMES